{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наши услуги | REKLAMGRAD</title>
    <meta name="description" content="Наше рекламное агентство полного цикла предлагает Вам широкий спектр услуг по изготовлению, размещению и дизайну рекламной продукции всех видов.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script type="application/ld+json">
    {{ jsonld_data|safe }}
    </script>
</head>
<body>
    <!-- Экран загрузки -->
    <div id="loading-screen">
        <div id="loader"></div>
    </div>

    <!-- Навигационная панель -->
    {% include 'navbar.html' %}

    <!-- Все наши услуги -->
    <div id="service" class="container my-4 py-4">
        <h1 class="section-title">{{ main_page.title_service |safe }}</h1>
        <p>{{ main_page.description_service |safe }}</p>
        <div class="row">
            {% if services %}
                {% for service in services %}
                    <div class="col-md-3 mb-3 ">
                        <div class="card">
                            <a href="{% url 'service_detail' object_id=service.id %}">
                                <img src="{{ service.image.url }}" loading="lazy" class="card-img-top" alt="{{ service.title }}">
                            </a>
                            <div class="card-body text-center">
                                <div class="card-title">
                                    <p>{{ service.title|safe|striptags }}</p>
                                </div>
                                <div class="text-left">
                                    {% if service.description %}
                                        <p>{{ service.description|truncatechars:60|safe|striptags }}</p>
					            <a href="{% url 'service_detail' object_id=service.id %}" class="btn btn-primary">Подробнее</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">Услуги временно недоступны.</p>
            {% endif %}
        </div>
        <div class="text-center mt-4">
        </div>
    </div>

    <!-- Контакты -->
    <div id="contact" class="container my-5 py-5">
        <h4 style="text-align: center;">{{ main_page.contact_title|safe }}</h4>
        <form method="POST" action="{% url 'contact_submit' %}" id="contactForm">
            {% csrf_token %}
            <div class="mb-3 w-50 mx-auto">
                <input type="email" name="email" class="form-control" placeholder="Введите ваш email" required>
            </div>
            <div class="mb-3 w-50 mx-auto">
                <textarea name="message" class="form-control" rows="5" placeholder="Введите ваше сообщение" required></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn svbtn-primary" id="submitBtn">Отправить</button>
            </div>
        </form>
        <div id="formMessage" class="mt-3 alert d-none"></div>
    </div>

    <!-- Футер -->
    {% include 'footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>    
<script src="{% static 'js/style.js' %}"></script>

</body>
</html>