{% extends 'base.html' %}

{% block title %}
    {% if page.meta_title %}
        {{ page.meta_title |safe |striptags  }}
    {% else %}
        {{ page.title |safe }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.meta_description  %}
        {{ page.meta_description |safe |striptags }}
    {% elif main_page %}
        {{ main_page.default_meta_description |safe }}
    {% endif %}
{% endblock %}

{% block content %}

<div class="page-title"> {{ page.title |safe }} </div>
        {% if page.image %}
        {% endif %}
        {{ page.content|safe }}

{% endblock %}

{% block body_extra %}
    {% if page.custom_js %}
        <script>
            {{ page.custom_js|safe }}
        </script>
    {% endif %}
{% endblock %}